node_modules
.next
out
dist
*.log
.taskmaster
.storybook
.vscode
.github
pnpm-lock.yaml
vitest.shims.d.ts
vitest.config.ts
supabase/
public/
.env*
*.config.*
*.md
package.json
tailwind.config.ts
next.config.ts
components.json